<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
 <meta charset="utf-8">
 <title>Hey Logistics</title>
 <meta name="description" content="Welcome to your No #1. logistic company.">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="/libraries/css/bootstrap.min.css">
 <link rel="stylesheet" href="/css/style.css">
 <link rel="stylesheet" href="/css/faq.css">
 <!-- FONT AWESOME -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
  integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
  crossorigin="anonymous" />

 <style>

 </style>
</head>

<body>
 <header class="d-block">
  <div class="alert bg-blue text-white text-center rounded-0 alert-dismissible fade show my-0" role="alert">
   <p class="text-16 p-0 m-0">Now in Lagos. Get your freight delivered same-day in the whole district of Lagos</p>
   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <div class="carousel">
   <%- include("templates/nav") %>
  </div>


 </header>
 <br><br><br><br>
 <div class="px-3 d-flex justify-content-center align-items-center  ad-div">

  <h3 class="me-sm-5">Enjoy Hassle Free Shipping With HEYLogistics</h3>
  <img class="img-plane" src="/images/plane.svg" alt="" srcset="">
 </div>


 <main class="mb-5">

  <section class="container-fluid mt-5 px-xl-5 mx-xl-5">
   <h4 class="text-decoration-underline">STANDARD AIRFREIGHT FROM USA TO NIGERIA:</h4>
   <p class="my-0 py-0">Air freight from USA to Nigeria takes 3-15 business days.</p>
   <p class="my-0 py-0">Our consignment leaves at 12pm on Friday of every week, and then undergoes </p>
   <p>TSA check over the weekend to be airlifted on Monday of the following week.</p>

   <p class="mb-0 mt-4 pb-0">
    Please note that counting starts from the Monday when it is Airlifted not Friday when it leaves our Warehouse.
   </p>

   <p class="my-0 py-0">
    Our weekly cut off is on Thursday 12PM.
   </p>

   <p class="my-0 py-0">
    Any package arriving at our facility after the cut off time meets up with the next freighting cycle i.e the
    following
    week.
   </p>

   <h4 class="text-decoration-underline mt-4">SHIPPING FEE & MINIMUM WEIGHT:</h4>

   <p class="my-0 py-0">
    Shipping fee is $3.99/per pound, shipping fees covers Customs duties, taxes, VAT, and clearing fees.
   </p>

   <p class="my-0 py-0">
    Packages below 5lb are charged at a fixed flat rate of $30.
   </p>

   <p class="mt-4 mb-0 pb-0">
    Volume Weight applies to charges in a case where the Volume weight is Higher than the Actual Weight.
   </p>
   <p class="my-0 py-0">
    For an accurate shipping cost, take measurement of the length width and height of the package and divide it by 166.
   </p>
   <p class="my-0 py-0">
    e.g 23.00 x 21.00 x 21:00 / 166
   </p>

   <h4 class="text-decoration-underline mt-4">SHIPPING GADGETS & ELECTRONICS:</h4>

   <p class="my-0 py-0">$80 per New Cell phone</p>
   <p class="my-0 py-0">$80 per New Laptop</p>
   <p class="my-0 py-0">$30 per used phone</p>
   <p class="my-0 py-0">$80 PS5</p>
   <p class="my-0 py-0">$8 per lbs for used laptops</p>

   <p class="mt-4">
    We require actual purchase receipt to ship new gadgets and Electronics.
   </p>

   <h4 class="text-decoration-underline mt-4">HEYLogistics Door to Door Delivery Fees</h4>
   <p>Door to Door Delivery within Lagos is charged at $10. Door to Door delivery is optional.</p>

  </section>

  <hr size="6px" class="my-5">

  <section class="container-fluid mt-5 px-xl-5 mx-xl-5">
   <h4 class="text-decoration-underline">Priority AIRFREIGHT FROM USA TO NIGERIA:</h4>
   <p class="mb-0 pb-0">
    Delivery fees are charged at $10. Delivery fees are optional.
   </p>
   <p class="my-0 py-0">
    Air freight from USA to Nigeria takes 3-7 business days.
   </p>
   <p class="my-0 py-0">
    Our consignment leaves at 12pm on Friday of every week, and then undergoes TSA check over the weekend
   </p>
   <p class="pt-0 mt-0"> to be airlifted on Monday of the following week.</p>


   <p class="my-4">
    Please note that counting starts from the Monday when it is Airlifted not Friday when it leaves our Warehouse.
   </p>

   <p class="mb-0 pb-0">Our weekly cut off is on Thurs 12PM.</p>
   <p class="mt-0 pt-0">
    Any package arriving at our facility after the cut off time meets up with the next freighting cycle i.e the
    following week.
   </p>

   <h4 class="text-decoration-underline mt-4">SHIPPING FEE & MINIMUM WEIGHT:</h4>
   <p class="my-0 py-0">
    Shipping fee is $10/per pound, shipping fees covers Customs duties, taxes, VAT, and clearing fees.
   </p>
   <p class="my-0 py-0">
    Packages below 12lb are charged at a fixed flat rate of $150.
   </p>

   <p class="mt-3 mb-0 pb-0">
    Volume Weight applies to charges in a case where the Volume weight is Higher than the Actual Weight.
   </p>
   <p class="my-0 py-0">
    For an accurate shipping cost, take measurement of the length width and height of the package and divide it by 166.
   </p>
   <p class="mt-0 pt-0">
    e.g 23.00 x 21.00 x 21:00 / 166
   </p>

   <h4 class="text-decoration-underline mt-4">SHIPPING GADGETS & ELECTRONICS:</h4>

   <p class="my-0 py-0">$120 per New Cell phone</p>
   <p class="my-0 py-0">$150 per New Laptop</p>
   <p class="my-0 py-0">$50 per used phone</p>
   <p class="my-0 py-0">$100 PS5</p>
   <p class="my-0 py-0">$15 per lbs for used laptops
   </p>

   <p class="mt-4">
    We require actual purchase receipt to ship new gadgets and Electronics.
   </p>

   <h4 class="text-decoration-underline mt-4">HEYLogistics Door to Door Delivery Fees:</h4>

   <p class="mb-0 pb-0">Door to Door Delivery within Lagos is charged at $10. Door to Door delivery is optional.</p>
   <p class="mt-0 pt-0">
    Here are items we cannot legally ship due to customs laws and airline restrictions
   </p>

   <ol type="1">
    <li class="my-0 py-0">Laptop Battery</li>
    <li class="my-0 py-0">Cigars</li>
    <li class="my-0 py-0">Vape</li>
    <li class="my-0 py-0">Tobacco</li>
    <li class="my-0 py-0">Vaping Accessories </li>
    <li class="my-0 py-0">Ammunition & Accessories</li>
    <li class="my-0 py-0">Stunt Gun</li>
    <li class="my-0 py-0">Guns paintball guns</li>
    <li class="my-0 py-0">Bullets</li>
   </ol>

  </section>

  <hr size="6px" class="my-5">

  <section class="container-fluid my-5 px-xl-5 mx-xl-5">
   <h4 class="text-decoration-underline mt-4">
    AIR-FREIGHT FROM UNITED KINGDOM TO NIGERIA:
   </h4>
   <p class="mb-0 pb-0">
    Airfreight from the United Kingdom to Nigeria takes
   </p>

   <p class="mt-0 pt-0">
    3/5 Business days to Cities in Lagos and 5/7days to cities outside Lagos.
   </p>

   <p class="my-3"> Weekly Cut-off </p>

   <p class="mb-0 pb-0">
    HEYLogistics Consignment leaves every Friday to be airlifted on Monday of the following week.
   </p>

   <p class="my-0 py-0">
    Counting starts from Monday when it is Airlifted not Friday when it leaves our Warehouse.
   </p>
<p class="my-0 py-0">weekly cut off is Thursday 12PM, Any package arriving at our</p>
<p class="mt-0 pt-0">facility after the cut off time meets up with the next freighting cycle i.e the following week.</p>

   <h4 class="text-decoration-underline mt-4">SHIPPING FEE & MINIMUM WEIGHT:</h4>

   <p class="my-0 py-0">
    Shipping rate from London to Lagos  is £5.80/kg, shipping fees covers Customs duties, taxes, VAT, and clearing fees.
    </p>

   <p class="my-3">
    Items below 10kg is charged at a flate rate of £70 and £25  Handling Charge for items above 10kg
    </p>

   <p class="mb-0 pb-0">
    Need Assistance? Contact Us
    </p>

    <p class="my-0 py-0">
     Our Customer Service Team is ready to answer your questions.
     </p>
     <p class="mt-0 pt-0">Send us an email on hello@heylogistics.co</p>

     <p class="my-3">Call 09045604669</p>

     <p class="mb-0 pb-0">Mon - Fri: 9 am - 6 pm CT</p>
     <p class="mt-0 pt-0">Sat - Sun: 10 am - 2 pm CT</p>
  </section>

 </main>




<%- include("templates/footer") %>



 <script type="text/javascript" src="/libraries/js/jquery-3.6.0.min.js"></script>
 <script type="text/javascript" src="/libraries/js/bootstrap.bundle.min.js"></script>

 <script src="js/nav_top_ad.js"></script>

 <script>
  const menu = document.querySelector('.menu');

  const hideMenu = _ => menu.style.transform = "translateX(100%)";

  const showMenu = _ => menu.style.transform = "translateX(0%)";

  document.querySelector('.menu-toggler').addEventListener("click", showMenu)
  document.querySelector('.close-menu').addEventListener("click", hideMenu)

  const closeNavOnLinkClick = e => e.target.tagName == "A" ? hideMenu() : null;

  menu.addEventListener("click", closeNavOnLinkClick)

 </script>
</body>

</html>