@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap');

:root {
    --primary-blue: #185FAD
}

@font-face {
    font-family: 'akzidenz-grotesk';
    src: url('/fonts/AkzidenzGrotesk-Extended.otf');
    font-family: 'Gilroy';
    src: url('/fonts/GilroyFont/Gilroy-Regular.otf');
    font-family: "Gilroy-Bold";
    src: url('/fonts/GilroyFont/Gilroy-Extrabold.otf');
}

body {
    font-family: 'akzidenz-grotesk' !important;
    overflow-x: hidden;
    font-size: 16px;
}

body::-webkit-scrollbar {
    width: 10px;
    height: 20px;
    -webkit-box-shadow: inset 0 0 3px var(--bs-dark);
    box-shadow: inset 0 0 3px var(--bs-dark);
}


/* Track */

body::-webkit-scrollbar-track {
    /* padding: 5px; */
    /* width: 3px; */
}

body::-webkit-scrollbar-thumb {
    /* width: 2px !important; */
    background-color: var(--bs-dark);
    -webkit-box-shadow: inset 0 0 3px #000;
    box-shadow: inset 0 0 3px #000;
    border-radius: 3px;
    border: 3px solid #333;
}

.sign_1:hover {
    color: var(--primary-blue);
    text-decoration: underline;

}





/* NAVBAR */

.navbar-brand {
    padding: 0px;
    margin: 0;
}

.navbar-brand>img {
    height: 70px;
}

.nav-link {
    color: white;

}

/* NAVBAR |ENDS|*/


/* CAROUSEL */

.ci-one,
.ci-two,
.ci-three {
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
}

.ci-one {
    background-image: url(/images/bg.jpg);
}

.ci-two {
    background-image: url(/images/header2.png);
}

.ci-three {
    background-image: url(/images/header3.jpg);
    width: 100vw !important;
    background-position: center;
}

.ci-one .caption {
    font-weight: bolder;
    font-size: 60px;
}

.ci-two .caption {
    font-size: 30px;
    font-weight: bolder;
}

.ci-three .caption {
    font-size: 35px;
    font-weight: bolder;
}

.ci-two .caption-wrapper img {
    width: 70px;
    margin: 0 10px;
}

.carousel-item button {
    font-size: 16px !important;
}


/* CAROUSEL |ENDS| */


/* SERVICES */

.services {
    background-image: url(/images/dotted-map.png);
    background-size: 85% 100%;
    border-radius: 30px 30px 0 0;
    background-color: #fff;
}

h6,
p,
.gilroy {
    font-family: "Gilroy" !important;
}

.grotesk {
    font-weight: bolder;
    font-family: "akzidenz-grotesk" !important;
}

.gilroy-bold {
    font-family: "Gilroy-Bold" !important;
}

.dm-sans {
    font-family: "DM Sans" !important;
}

.sans {
    font-family: sans-serif;
}

.services h5 {
    font-size: 20px;
}

.services p,
.platform p {
    font-size: 18px;
    font-family: 'Gilroy';
}

.services .row2 .col_1 {
    width: 300px !important;
}


/* SERVICES |ENDS| */


/* PLATFORM */

.title {
    font-size: 40px;
}

.platform {
    position: relative;
}

.platform :is(.card-title,
    .card-text) {
    font-size: 18px !important;
}

.platform .card-title {
    font-family: 'akzidenz-grotesk' !important;
}

.platform .card-text {
    font-size: 17px !important;
    font-family: "Gilroy" !important;
}

.platform .card-body {
    padding: 10px 10px !important;
}


/* PLATFORM |ENDS| */


/* FAQ */

.faq {
    position: relative;
}

.faq-img {
    position: absolute;
    bottom: 0;
    right: 5px;
    min-width: 300px;
    height: 400px;
    opacity: 0.4;
}


/* FAQ |ENDS| */


/* WHY CHOOSE US */

.why__us {}

.why__us__img {
    position: absolute;
    right: 0;
    top: -30px;
    /* width: 50%; */
    height: 300px;
    z-index: -1;
}


/* WHY CHOOSE US |ENDS|*/


/* how__to__use */

.how__to__use h2 {
    font-size: 40px;
}


/* CONTACT US */

.contact__us {
    background-color: #08223E;
}

.contact__us form {
    border-radius: 15px;
    padding: 10px;
    background-color: white;
}

.contact__us form :is(input,
    textarea) {
    border-radius: 15px;
    padding: 10px;
    border: 1px solid #185FAD !important;
}

.contact__us form :is(input,
    textarea):focus,
.contact__us form :is(input,
    textarea):not(:focus) {
    border: 1px solid #B9B8B8 !important;
    font-family: 'Gilroy';
}

.contact__us form .form-group {
    margin-top: 20px;
}

.contact__us form label {
    background-color: white;
    top: -4px;
    left: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
}

.contact__us form button {
    border-radius: 15px;
}


/* CONTACT US |ENDS| */

footer {
    background-color: #08223E;
}

footer li {
    margin-top: 15px;
}

footer li a {
    color: white;
    font-family: "Gilroy";
    font-size: 14px;
    text-decoration: none;
}

footer .socials li a img {
    margin-right: 15px;
    width: 23px
}



/* MISCELANOUS */

img {
    pointer-events: none;
}

.bubble {
    position: absolute;
    top: 50%;
    left: -50px;
    width: 100px;
    height: 100px;
    background-color: #185FAD;
    opacity: .5;
    border-radius: 50%;
}

.bubble span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-10%, -50%) rotate(90deg);
    font-size: 20px;
    color: white;
}

.text-bold {
    font-weight: bold;
}

.text-blue {
    color: #185FAD !important;
}

.btn-blue,
.btn-outline-blue:hover,
.bg-blue {
    background-color: #185FAD !important;
    color: #fff !important;
}

.btn-blue:hover,
.btn-outline-blue {
    background-color: #fff !important;
    color: #185FAD !important;
    border-color: #185FAD !important;
}

.btn-black,
.btn-outline-black:hover {
    background-color: #333 !important;
    color: #fff !important;
}

.btn-black:hover,
.btn-outline-black {
    background-color: #fff !important;
    color: #333 !important;
    border-color: #333 !important;
}

.text-feint {
    color: rgba(0, 0, 0, .66) !important;
}

.text-16 {
    font-size: 16px;
}

.text-30 {
    font-size: 30px;
}

.text-50 {
    font-size: 50px;
}

.text-white {
    color: #fff !important;
}

.card img {
    min-height: 200px !important;
    max-height: 250px !important;
    object-fit: cover;
}

@media screen and (min-width: 992px) {
    .services .row2 .col_1 {
        width: 230px !important;
        margin-left: 5px;
    }

    .services .row2 .col_2 {
        /* width: 320px !important; */
        margin-left: 5px;
    }

    .services .row2 .col_3 {
        /* width: 100% !important; */
        margin-bottom: 10px;
        height: 160px;
    }

    .services .row2 .col_4 {
        /* width: 100%!important; */
        height: 160px;
        /* margin-bot: 20px; */
    }

}

@media screen and (min-width: 768px) {
    .ci-two .dm-man-wrap {
        align-items: center;
        justify-content: center;
    }

    .ci-two>div .deliveryMan {
        align-self: baseline;
        height: 90%;
    }

    .ci-three>div {
        /* width: 70%; */
    }

}

@media screen and (max-width: 1024px) {
    .ci-one .caption {
        font-size: 45px;
    }

    .ci-two .caption {
        font-size: 20px;
    }

    .ci-three .caption {
        font-size: 20px;
    }

    .sub-caption {
        font-size: 13px;
    }

    .hero_brands {
        padding-bottom: 40px;
    }



    .platform .crd_1 {
        width: 320px;
    }

    .why__us__img {
        opacity: 0.8;
    }
}

@media screen and (max-width: 991.98px) {
    .services .row2 .col_1 {
        width: 230px !important;
        margin-left: 5px;
    }

    .services .row2 .col_2 {
        width: 320px !important;
        /* margin-left: 5px; */
    }

    .services .row2 .col_3 {
        width: 200px !important;
        margin-bottom: 10px;
        height: 120px;
    }

    .services .row2 .col_4 {
        width: 200px !important;
        height: 120px;
        /* margin-bot: 20px; */
    }
}

@media screen and (max-width: 768px) {
    .services .row2 .col_2 {
        width: 280px !important;
        /* margin-left: 5px; */
    }
}

@media screen and (max-width: 767.98px) {
    .ci-two>div {
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .truck-sibling {
        display: flex;
        justify-content: center;
        margin-right: 0 !important;
    }

    .ci-two .button-group {
        flex-direction: row !important;
    }

    .ci-two .caption {
        text-align: center;
    }

    .ci-two .caption-wrapper>div {
        position: absolute;
        margin-top: 160px;
        top: 50px;
        left: 10px;
        right: 10px;
        background-color: rgba(0, 0, 0, .7);
        padding: 1em;
    }

    .services .row2 .col_1 {
        width: 50% !important;
        margin-left: 10px;
    }

    .services .row2 .col-md-3 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .services .row2 .col_2 {
        width: 90% !important;
        margin-bottom: 30px;
    }

    .services .row2 .col_3 {
        width: 45% !important;
        margin-bottom: 10px;
        height: 150px;
    }

    .services .row2 .col_4 {
        width: 45% !important;
        height: 150px;
        /* margin-right: 20px; */
    }

    .platform .crd_1 {
        width: 240px;
    }

    .foot_1 img {
        width: 120px;
    }
}

@media screen and (max-width: 425px) {
    .ci-three .container {
        width: 100% !important;
    }
    .why__us_desc {
        width: 100%;
        text-align: center;
    }

    .ci-one .caption {
        font-size: 25px;
    }

    .ci-two .caption {
        font-size: 18px;
    }

    .ci-three .caption {
        font-size: 15px;
    }

    .sub-caption {
        font-size: 10px;
    }

    .hero_brands img {
        width: 50px;
    }

    .hero_brands {
        padding-bottom: 30px;
    }

    .services h5 {
        padding: 0px 18px;
    }

    .services h2 {
        padding-left: 15px;
    }

    .services p,
    .platform p {
        padding: 0px 18px;
        font-family: 'Gilroy';
    }

    .services .row2 .col_1 {
        width: 400px !important;
        padding-left: 30px;
    }

    .services .row2 .col_2 {
        width: 90% !important;

        margin-bottom: 15px;
    }

    .services .row2 .col_3 {
        width: 90% !important;
        height: 200px;
        /* margin-left: 20px; */
    }

    .services .row2 .col_4 {
        width: 90% !important;
        /* margin-right: 20px; */
        height: 200px;
    }

    .platform .crd_1 {
        width: 100%;
    }

    .why__us__img {
        position: relative;
        right: 0;
        top: -30px;
        width: 100%;
        height: 300px;
        z-index: -1;
    }

    .foot_1 {
        padding-left: 10px;
    }
}

@media screen and (max-width: 375px) {
    .ci-one .caption {
        font-size: 25px;
    }

    .ci-two .caption {
        font-size: 16px;
    }

    .ci-three .caption {
        font-size: 15px;
    }

    .sub-caption {
        font-size: 10px;
    }

    .services .row_2 h5 {
        font-size: 18px;
        padding: 0px 18px;
    }

    .services h2 {
        padding-left: 16px;
    }

    .services p,
    .platform p {
        font-size: 15px;
        padding: 0px 18px;
        font-family: 'Gilroy';
    }

    .services .row2 .col_1 {
        width: 330px !important;
        padding-left: 30px;
    }

    .services .row2 .col_2 {
        width: 100% !important;
        /* margin-left: 30px; */
        margin-bottom: 15px;
        height: 200px
    }

    .services .row2 .col_3 {
        width: 100% !important;
        /* margin-left: 32px; */
        margin-bottom: 15px;
        height: 200px
    }

    .services .row2 .col_4 {
        width: 100% !important;
        /* margin-left: 20px; */
        margin-bottom: 15px;
        height: 200px
    }

    .ci-three>div {
        /* width: 60%; */
    }
}

@media screen and (max-width: 320px) {
    .ci-two .caption-wrapper>div {
        position: absolute;
        margin-top: 100px;
        top: 50px;
    }

    .ci-two .caption {
        font-size: 14px;
    }

    .services h5 {
        font-size: 17px;
        padding: 0px 18px;

    }

    .services h2 {
        padding-left: 15px;
    }

    .services p,
    .platform p {
        font-size: 14px;
        padding: 0px 18px;
        font-family: 'Gilroy';
    }

    .services .row2 .col_1 {
        width: 90% !important;
        /* padding-left: 30px; */
    }

    .services .row2 .col_2 {
        width: 100% !important;
        margin-bottom: 15px;
    }

    .services .row2 .col_3 {
        width: 100% !important;
        /* margin-left: 20px; */
    }

    .services .row2 .col_4 {
        width: 100% !important;
        /* margin-right: 20px; */
    }


    /* .serv_1 div h2 h5 p{
        padding-left: 50px !important;
    } */


}

.menu li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    font-size: 15px;
    font-family: 'Gilroy';
    font-weight: 500;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.menu a {
    color: #fff;
    text-decoration: none;
}

.menu,
.navbarNav {
    /* background-color: var(--bs-primary); */
    position: absolute;
    top: 0px;
    right: 0;
    width: 300px;
    transform: translateX(100%);
    transition: .5s transform;
}

.menu-toggler {
    cursor: pointer;
}

.menu-overlay {
    position: relative;
}

.close-menu {
    position: absolute;
    right: 10px;
    top: 5px;
    padding: 9px 10px;
    border-radius: 6px;
    color: white !important;
    border: 1px solid var(--bs-dark);
    cursor: pointer;
}

.close-menu:hover {
    color: var(--bs-dark) !important;
    background-color: var(--bs-light);
}