<section id="faqs" class="faq mt-5 py-5" style="background-color: #eee;">
  <div class="container">
    <h2 class="text-center text-blue title">What to know before getting started. F.A.Q</h2>
    <p class="text-center text-bold mb-4">Here are some of the most common questions we get from first-time customers.
    </p>

    <div class="faq-body  d-flex flex-column align-items-center justify-content-cente">
      <div class="card-body col-md-10 col-lg-9 col-sm-11 col-12">
        <h5 class="card-title text-bold gilroy-bold text-30">1. Here are some of the most common questions we get from
          first-time customers.</h5>
        <p class="card-text gilroy">We <span class="sans">offer</span> home pickup from anywhere in United Kingdom and
          airfreight from UK to Nigeria in 2-5days.</p>
      </div>

      <div class="card-body col-md-10 col-lg-9 col-sm-11 col-12">
        <h5 class="card-title text-bold gilroy-bold text-30">2. What are your Ocean shipping rate from USA to Nigeria? I
          want to ship a car.</h5>
        <p class="card-text gilroy">Please contact us to get a personalize Car shipping rate from USA to Nigeria.</p>
      </div>

      <div class="card-body col-md-10 col-lg-9 col-sm-11 col-12">
        <h5 class="card-title text-bold gilroy-bold text-30">3. Can i ship gadgets using HEY-Logistics from USA/UK to
          Nigeria ?</h5>
        <p class="card-text gilroy">Yes you can ship Gadget, and many more Products using our shipping services in USA,
          UK or China, we have a flat fee rate for Hamzat. <a href="/learn-more">Learn more</a>.</p>
      </div>

      <div class="card-body col-md-10 col-lg-9 col-sm-11 col-12">
        <h5 class="card-title text-bold gilroy-bold text-30">4. How much does it cost to ship via Air-Freight from UK to
          Nigeria?</h5>
        <p class="card-text gilroy">Shipping rate from London to Lagos is £5.80/kg plus handling charge. Shipping fees
          covers Customs duties, taxes, VAT, and clearing fees. Learn more</p>
      </div>
    </div>

    <img src="/images/FAQ.png" alt="" class="faq-img">
  </div>
</section>


<section class="why__us mt-5 py-5">
  <div class="col-sm- position-relative">
    <img src="/images/HERO iPhone X Clay.png" alt="" class="why__us__img">
  </div>

  <div class="container mt-5">
    <h2 class="text-blue dm-sans text-bold" style="z-index: 5; font-size: 58px">Why Choose Us?</h2>

    <div class="col-8">
      <p class="gilroy">Because we'll make you more money by providing you with a customer-focused experience and
        speedier discounted purchasing power through our 6 years of business services, which have been designed with you
        in mind.</p>
    </div>


    <div class="row mt-5 pt-5">
      <div class="col-sm-4">
        <div class="d-flex flex-column justify-content-center align-items-center">
          <img src="/images/comment.svg" alt="" width="40" height="50" class="mb-2">
          <p class="text-center gilroy-bold text-bold text-blue">SMART SHOPPING</p>
        </div>
        <p class="gilroy text-center">Using our services as a shopping address in the United States of America or the
          United Kingdom, you can shop from multiple e-commerce stores without restriction.from Amazon, Ebay, HEY,
          Argos, Zara, Alibaba, Walmart, Tesco and the rest through a single
          platform that connects all of your favorite brands together. </p>
      </div>
      <div class="col-sm-4">
        <div class="d-flex flex-column justify-content-center align-items-center">
          <img src="/images/copy.svg" alt="" width="40" height="50" class="mb-2">
          <p class="text-center gilroy-bold text-bold text-blue">REAL TIME TRACKING</p>
        </div>
        <p class="gilroy text-center">Track and consolidate your packages in batches or ship them directly to their
          final destination using our real-time tracking system to monitor and follow your packages as they arrive at
          your designated door step.</p>
      </div>

      <div class="col-sm-4">
        <div class="d-flex flex-column justify-content-center align-items-center">
          <img src="/images/lightning.svg" alt="" width="40" height="50" class="mb-2">
          <p class="text-center gilroy-bold text-bold text-blue">FAST DELIVERY</p>
        </div>
        <p class="gilroy text-center">Experience Express Delivery [EED] when you move things from Point A to Point B
          using HEY-Logistics Shipping Processes.</p>
      </div>


    </div>

  </div>

  </div>
</section>