<footer class="py-5">

 <div class="row justify-content-center">

  <div class="col-sm-2">
   <h5 class="grotesk text-white">Products</h5>
   <ul class="list-unstyled">
    <li><a href="#">Air Cargo</a></li>
    <li><a href="#">e-Commerce</a></li>
    <li><a href="#">Personal Shopper</a></li>
    <li><a href="#">API</a></li>
  </div>

  <div class="col-sm-2">
   <h5 class="grotesk text-white">Resources</h5>
   <ul class="list-unstyled">
    <li><a href="#">Explore us</a></li>
    <li><a href="#">Blogs</a></li>
    <li><a href="#" class="sans">Affiliate</a></li>

  </div>

  <div class="col-sm-2">
   <h5 class="grotesk text-white">Company</h5>
   <ul class="list-unstyled">
    <li><a href="#">People</a></li>
    <li><a href="#">Career</a></li>
    <li><a href="#">Terms of Service</a></li>
    <li><a href="#">Partners</a></li>
  </div>

  <div class="col-sm-2">
   <h5 class="grotesk text-white">Get Our App</h5>
   <ul class="list-unstyled">
    <li>
     <a href="#"><img src="/images/Store.png" alt=""></a>
    </li>
    <li>
     <a href="#">
      <a href="#"><img src="/images/Store2.png" alt=""></a>
    </li>

  </div>

  <div class="col-sm-2">
   <h5 class="grotesk text-white">Reach Us</h5>
   <ul class="list-unstyled">
    <li><a href="mailto:hello@heynigeria.com">hello@heynigeria.com</a></li>
    <li><a href="tel:+2349045604669">+234 904 560 4669</a></li>

    <br>
    <div class="socials">
     <h5 class="text-white grotesk">Connect on Socials</h5>
     <ul style="width: 140px">
      <li class="d-flex justify-content-center">
       <a href="https://facebook.com/"><img src="/images/Facebook.svg" alt=""></a>
       <a href="https://twitter.com/"><img src="/images/Twitter.svg" alt=""></a>
       <a href="https://instagram.com/"><img src="/images/Instagram.svg" alt=""></a>
       <a href="https://linkedin/in/"><img src="/images/LinkedIn.svg" alt=""></a>
      </li>
     </ul>
    </div>
  </div>

 </div>
 <br>
 <br>
 <div class="position-relative container-flui">
  <p class="text-white d-inline position-absolute" style="left:20px; ">Privacy Policy</p>
  <p class="text-white text-center"> &copy; 2021 Heynigeria</p>

  <hr class="m-0 p-0 text-white">
  <p class="text-center text-white mt-4">All trucking services are provided by Hey Nigeria a licensed property All transactions are subject to our terms of service.</p>
 </div>
</footer>