<section class="how__to__use mt-5 py-5  position-relative">
 <span class="bubble one shadow-lg" style="top: 0 !important"><span>HEY!</span></span>
 <div class="container">
  <h2 class="grotesk text-blue text-center">How to use HEY platform as a Business.</h2>

  <div class="row my-5 align-items-center">
   <div class="col-sm-5">
    <h5 class="gilroy text-bold">How to request for Air freight To Nigeria</h5>
    <p class="gilroy">Enjoy the Benefits of using HEY services for your business, discover Top Global Brands, and begin receiving goods to your doorstep with less hassle.</p>

    <br>
    <br>
    <button class="btn btn-blue px-5 gilroy">Sign In</button>
   </div>
   <div class="col-sm-7">
    <img src="/images/youtube.png" alt="" class="img-fluid">
   </div>
  </div>

  <br>

  <div class="row mt-5 align-items-center">
   <div class="col-sm-7">
    <img src="/images/youtube.png" alt="" class="img-fluid">
   </div>

   <div class="col-sm-5">
    <h5 class="gilroy text-bold">How to request for Personal Shopper</h5>
    <p class="gilroy">We can assist you with buying and paying from various Global Brands websites using our personal shopper services. We'll even relieve you of the burden by delivering to your home address.</p>

    <br>
    <br>
    <button class="btn btn-blue px-5 gilroy">Get Started</button>
   </div>
  </div>
 </div>
</section>