<nav class="navbar navbar-expand-sm position-absolute w-100" style="z-index: 8;">
 <div class="container-fluid px-xl-5 mx-xl-5">
  <a class="navbar-brand d-block" href="#"><img src="/images/heynigeria logo.png" alt="" srcset=""></a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>

  <div class="collapse navbar-collapse" id="navbarNav">
   <ul class="navbar-nav d-sm-flex align-items-center ms-auto">
    <li class="nav-item">
     <a href="/" class="nav-link">Home</a>
    </li>
    <li class="nav-item mx-sm-4">
     <a href="/sign-in" class="nav-link">Sign in</a>
    </li>
    <li class="nav-item">
     <a href="/shop" class="nav-link">
      <button class="btn rounded btn-blue px-5">Shop</button>
     </a>
    </li>
   </ul>
  </div>

 </div>
</nav>