<div class="services py-5 my-5">
 <div class="row row1 justify-content-center">
  <div class="col-md-3">
   <h2>Our Services</h2>
  </div>
  <div class="col-md-4">
   <h5>Ocean and AutoMobile Shipping</h5>
   <br>
   <p>We assist business owners and individuals with Ocean Cargo and Automobile shipping from the United States/United Kingdom to Nigeria through via Roro or Container shipping.</p>
  </div>
  <div class="col-md-4">
   <h5>Air Cargo</h5>
   <br>
   <p>Using our Shopping Address, you can shop from ANY e-Commerce Store in the United States, the United Kingdom, or China, and we will deliver it to your final destination in Nigeria.</p>
  </div>
 </div>

 <div class="row row1 row2-begin justify-content-center my-4">
  <div class="col-md-3">
  </div>
  <div class="col-md-4">
   <h5>Personal Shopper Services</h5>
   <br>
   <p>With our personal shopper services, we provide shopping assistance for single product or bulk purchases from any e-Commerce stores in the United States, the United Kingdom, and China.</p>
  </div>
  <div class="col-md-4">
   <h5>E-Commerce Shopping</h5>
   <br>
   <p>Buy directly from Nigerian Stores and experience fast delivery to your home or office address. Free return and 100% money back guaranteed.</p>
  </div>
 </div>

 <div class="row row2 align-items-center justify-content-center mx-aut">
  <div class="col-md-3">
   <img src="/images/truck.png" width="300" alt="">
  </div>

  <div class="col-md-4 d-fle me-4">
   <div class="row bg-blue pt-2 shadow-sm" style="border-radius: 20px;">
    <div class="d-flex justify-content-center">
     <div class="col-5 d-flex flex-column align-items-center justify-content-cente">
      <h5><i class="fas fa-phone-volume"></i> Call Center</h5>
      <p>+234 706 194 1204</p>
      <p>+234 706 194 1204</p>
     </div>
     <div class="col-5 d-flex flex-column align-items-center justify-content-center">
      <h5><i class="fas fa-user"></i> Our Locations</h5>
      <p class="mb-0">USA, UK </p>
      <p class="my-0">CHINA</p>
      <p class="mt-0">NIGERIA</p>
     </div>
    </div>
   </div>
  </div>

  <div class="col-md-4">
   <div class="row justify-content-around">
    <div class="col-6 px-0 bg-blue shadow-sm pt-2 d-flex flex-column align-items-center justify-content-center" style="border-radius: 20px;">
     <h5>Working Hours</h5>
     <p>Mon-Friday (9am-5pm)</p>
     <p>Saturday (11am-3pm)</p>
    </div>
    <div class="col-5 bg-blue shadow-sm pt-2 d-flex flex-column align-items-center justify-content-center" style="border-radius: 20px; cursor: pointer;">
     <h5>Get a Quote</h5>
     <div class="d-flex">
      <img src="/images/quote.svg" alt=""> <i class="fas fa-quote-right text-white"></i>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>

<div class="platform  my-5">
 <span class="bubble one shadow-lg"><span>HEY!</span></span>

 <div class="container">
  <h2 class="text-center title">One platform to command your shopping needs</h2>
  <p class="text-center text-bold  mb-5">We reimagined freight for modern commerce where speed and transparency matter.</p>

  <div class="card-deck row justify-content-between">
   <div class=" col-xl-4 col-lg-3 ">

    <div class="card h-100">
     <img src="/images/payment.png" class="card-img-top" alt="...">
     <div class="card-body">
      <h5 class="card-title">Shop From Multiple Global Brands Stores.</h5>
      <p class="card-text">Leverage the opportunity of shopping global and shipping to one address in USA,UK & China when you sign up with us.</p>
     </div>
    </div>
   </div>
   <div class="col-xl-4 col-lg-3 ">
    <div class="card h-100">
     <img src="/images/cashpayment.png" class="card-img-top" alt="...">
     <div class="card-body">
      <h5 class="card-title">100% Money Back on Products Sold by HEY.</h5>
      <p class="card-text">Enjoy the peace of mind that comes with buying quality original products from your favorite brand with 100% return and refund.</p>
     </div>
    </div>
   </div>
   <div class="col-xl-4 col-lg-3 ">
    <div class="card h-100">
     <img src="/images/chart.png" class="card-img-top" alt="...">
     <div class="card-body">
      <h5 class="card-title">Paperless Process and Real time tracking.</h5>
      <p class="card-text">Make enquiry about a product or service, your products or perhaps track your order as they speedily gets transported to you.</p>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>